<% @author.books.each do |book| %>
<section id="book-<%= book.id %>">
  <p><%= book.pages %></p>
  <p><%= book.title %></p>
  <p><%= book.published %></p>
  <p><%= book.authors %></p>

</section>
<p></p>
<% end %>
