<h1><%= @user.name %> Reviews</h1>
<% @user_reviews.each do |review| %>
<% book = review.find_book(review.book_id) %>
  <section id="review-<%= review.id %>">
    <h3>Reviewed: <%= book.title %></h3>
    <h4><%= review.title %></h4>
    <p><%= review.body %></p>
    <p>Rating: <%= review.rating %></p>
    <p>Date: <%= review.created_at.month %>/<%= review.created_at.day %>/<%= review.created_at.year %></p>
    <img src="<%= book.image_url %>" >
  </section>
<% end %>
