<section id="sort-and-create-books">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort Books
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/books?sort=pagesasc">Page Count Asc</a>
      <a class="dropdown-item" href="/books?sort=pagesdesc">Page Count Desc</a>
      <a class="dropdown-item" href='/books?sort=publishedasc'>Published Asc</a>
      <a class="dropdown-item" href="/books?sort=publisheddesc">Published Desc</a>
      <a class="dropdown-item" href="/books?sort=reviewsasc">Reviews Asc</a>
      <a class="dropdown-item" href="/books?sort=reviewsdesc">Reviews Desc</a>
    </div>
  </div>
</section>

<button href="/books/new" type="button" class="btn btn-primary" id='create-book-btn'><a style='color:white;' href="/books/new">Create Book</a></button>

<div id='stats-container'>
  <h3 class="container-fluid" id='stats-header'>Statistics</h3>
  <section id='statistics' class='container-fluid row' >
      <div id='highest_rated' class='col'><h5>Highest Rated:</h5> <% @highest_3.each do |book| %>
          <section id="book-<%=book.id%>-highest-stats">
          <%= link_to book.title, book_path(book) %>
          Average Rating: <%= book.review_average.round(2) %>
          </section>
        <% end %>
      </div>
      <div id='lowest_rated' class='col'><h5>Lowest Rated:</h5>  <% @lowest_3.each do |book| %>
          <section id="book-<%=book.id%>-lowest-stats">
          <%= link_to book.title, book_path(book) %>
          Average Rating: <%= book.review_average.round(2) %>
          </section>
        <% end %>
      </div>
      <div id='most_ratings' class='col'><h5>Most Reviews:</h5> <% @three_ratingest_users.each do |user| %>
        <section id="ratings-<%=user.id%>">
        <%= link_to user.name, user_path(user) %>,
        <%= user.reviews.count %> Reviews
        </section>
        <% end %>
      </div>
  </section>
</div>
<section id="main-area" class="grid-container">
  <% @books.each do |book|  %>
  <section class='grid-item' id="book-<%= book.id %>">
     <h2><%= link_to book.title, book_path(book) %></h2>
   <p>Average Rating: <%=
     (book.review_average.to_f.round(2)) %></p>
   <img class="books_small img-thumbnail" src="<%= book.image_url %>">
   <p>Author(s): <% book.authors.each do |author| %>
     <%= link_to author.name, author_path(author) %>
     <% end %>
     </p>
   <p>Page Count: <%= book.pages %></p>
   <p>Published In: <%= book.published %></p>
   <p>Total Reviews: <%= book.review_count %></p>
 </section>
   <% end %>
 </section>
