<a href='/books?sort=pagesasc'>Page Count Asc</a>
<a href= '/books?sort=pagesdesc'>Page Count Desc</a>
<a href= '/books?sort=publishedasc'>Published Asc</a>
<a href= '/books?sort=publisheddesc'>Published Desc</a>
<a href= '/books?sort=reviewsasc'>Reviews Asc</a>
<a href= '/books?sort=reviewsdesc'>Reviews Desc</a>
<a href="/books/new">Create Book</a>

<section id='statistics'>
  <h3>Statistics</h3>
  <p id='highest_rated'>Highest Rated: <% @highest_3.each do |book| %>
  <%= book.title %>
<% end %></p>
  <p id='lowest_rated'> Lowest Rated:  <% @lowest_3.each do |book| %>
  <%= book.title %>
<% end %> </p>
  <p id='most_ratings'>Most Reviews: <% @three_ratingest_users.each do |user| %>
  <%= user.name %>
<% end %> </p>

</section>

<% @books.each do |book|  %>
 <section class='books' id="book-<%= book.id %>">
   <h2><%= book.title %></h2>
   <img class="books_small" src="<%= book.image_url %>">
   <p>Author(s): <% book.authors.each do |author| %>
     <%= author.name %>
     <% end %>

     </p>
   <p>Page Count: <%= book.pages %></p>
   <p>Published In: <%= book.published %></p>
   <p>Average Review: <%=
      (book.review_average.to_f.round(2)) %></p>
   <p>Total Reviews: <%= book.review_count %></p>
   <% end %>
 </section>
