<a href='/books?sort=pagesasc'>Page Count Asc</a>
<a href= '/books?sort=pagesdesc'>Page Count Desc</a>
<a href= '/books?sort=publishedasc'>Published Asc</a>
<a href= '/books?sort=publisheddesc'>Published Desc</a>
<% @books.each do |book|  %>
 <section class='books' id="book-<%= book.id %>">
   <p>Title: <%= book.title %></p>
   <p>Author: <% book.authors.each do |author| %>
     <%= author.name %>
     <% end %>

     </p>
   <p>Page Count: <%= book.pages %></p>
   <p>Published In: <%= book.published %></p>
   <p>Average Review: <%=
      (book.review_average.to_f.round(2)) %></p>
   <p>Total Reviews: <%= book.review_count %></p>
   <% end %>
 </section>
