
<%= form_for @book do |f| %>
  <p class='book_form'>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p class='book_form'>
    <%= f.label :pages %>
    <%= f.number_field(:pages, in: 1..5000, step: 1) %>
  </p>
  <p class='book_form'>
    <%= f.label :published %>
    <%= f.date_field :published %>
  </p>
  <p class='book_form'>
    <%= f.label :authors %>
    <%= f.text_field :authors, value: '' %>
  </p>
  <p class='book_form'>
    <%= f.label :image_url %>
    <%= f.url_field :image_url, value: ''  %>
  </p>
  <p class='book_form'><%= f.submit %><p>
<% end %>
