<h1><%= @book.title %></h1>
<section id="statistics">
  <h3>Statistics</h3>
  <h4>Top Three Reviews</h4>
  <section id='top_three'>
    <% @top_three_reviews.each do |review| %>
      <p><%= review.title %>, Rating: <%= review.rating %>, By: <%= review.user.name %></p>
    <% end %>
  </section>
  <h4>Bottom Three Reviews</h4>
  <section id='bottom_three'>
    <% @bottom_three_reviews.each do |review| %>
      <p><%= review.title %>, Rating: <%= review.rating %>, By: <%= review.user.name %></p>
    <% end %>
  </section>
  <section id='average_rating'>
    <h4>Average Rating:</h4>
    <%= @average_rating.round(2) %>
  </section>
</section>
<img src=<%= @book.image_url %> >
<h4>Pages: <%= @book.pages %></h4>
<h4>Pages: <%= @book.published %></h4>
<h4>Authors:</h4>
<ul>
  <% @book.authors.each do |author| %>
    <li><%= author.name %></li>
  <% end %>
</ul>
<img src="<%= @book.image_url %>">
<h4>Reviews:</h4>
<p>
  <% @book.reviews.each do |review| %>
  <ul>
    <h5><%= review.title %></h5>
    <li>By: <%= link_to review.user.name, user_path(review.user) %></li>
    <li>Rating: <%= review.rating %></li>
    <p><%= review.body %></p>
  </ul>
  <% end %>
</p>
<%= link_to "New Review", new_book_review_path(@book) %>
